* {
	box-sizing: border-box;

	body {
		margin: 0;
		font-size: 1.2em;
		background: url("../img/body_bg2.png");
		background-size: Cover;

		header {
			background: rgb(251, 0, 0);
			background: linear-gradient(
				180deg,
				rgba(251, 0, 0, 1) 50%,
				rgba(255, 255, 255, 1) 60%
			);
			background-size: cover;
			padding: 25px 0;
			margin-bottom: 25px;

			display: flex;
			justify-content: space-around;

			a {
				font-size: 1.25em;
				color: gold;
				text-decoration: none;
			}
			nav {
				width: 100%;
				padding: 10px;
				display: flex;
				justify-content: center;
				background: black;

				a {
					margin-right: 100px;
				}
				a:last-child {
					margin-right: 0;
				}
			}
		}

		main {
			h1 {
				font-size: 2.2em;
				text-align: center;
				color: white;
			}

			section {
				padding: 25px;
				width: 75%;
				margin: 50px auto;
				text-align: center;

				h2 {
					font-size: 2em;
					color: blue;
					text-decoration: none;
				}
			}

			.sectionIntro {
				display: flex;
				justify-content: space-between;
				margin-bottom: 15px;

				img {
					width: 75px;
					height: auto;
				}
			}
		}
	}
}
