* {
	box-sizing: border-box;

	body {
		margin: 0;
		font-size: 1.2em;
		background: url("../img/body_bg2.png");
		background-size: Cover;

		header {
			background: rgb(251, 0, 0);
			background: linear-gradient(
				180deg,
				rgba(251, 0, 0, 1) 50%,
				rgba(255, 255, 255, 1) 60%
			);
			background-size: cover;
			padding: 25px 0;
			margin-bottom: 25px;

			display: flex;
			justify-content: space-around;

			nav {
				width: 100%;
				padding: 10px;
				display: flex;
				justify-content: center;
				background: black;

				a {
					font-size: 1.25em;
					color: gold;
					text-decoration: none;
					border-right: 1px solid gold;
					padding: 0 50px;
				}
				a:last-child {
					margin-right: 0;
					border-right: none;
				}
			}
		}

		main {
			h1 {
				font-size: 2.2em;
				text-align: center;
				color: white;
			}

			section {
				padding: 25px;
				width: 75%;
				margin: 50px auto;
				text-align: center;

				h2 {
					font-size: 2em;
					color: blue;
					text-decoration: none;
				}
			}

			.sectionIntro {
				display: flex;
				justify-content: space-between;
				margin-bottom: 15px;

				img {
					width: 75px;
					height: auto;
				}
			}
		}
	}

	/* Couleurs des types Pokémon */
	.Feu {
		background-color: #f08030;
	}
	.Eau {
		background-color: #6890f0;
	}
	.Plante {
		background-color: #78c850;
	}
	.Électrique {
		background-color: #f8d030;
		color: black;
	}
	.Glace {
		background-color: #98d8d8;
		color: black;
	}
	.Combat {
		background-color: #c03028;
	}
	.Poison {
		background-color: #a040a0;
	}
	.Sol {
		background-color: #e0c068;
		color: black;
	}
	.Vol {
		background-color: #a890f0;
	}
	.Psy {
		background-color: #f85888;
	}
	.Insecte {
		background-color: #a8b820;
	}
	.Roche {
		background-color: #b8a038;
	}
	.Spectre {
		background-color: #705898;
	}
	.Dragon {
		background-color: #7038f8;
	}
	.Ténèbres {
		background-color: #705848;
	}
	.Acier {
		background-color: #b8b8d0;
		color: black;
	}
	.Fée {
		background-color: #ee99ac;
	}
	.Normal {
		background-color: #a8a878;
		color: white;
	}
}
